body{
    margin: 0;
    padding: 0px;
}
.bg-container{
    background-color: lightgrey;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-input{
    width: 500px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    outline: 0;
}
.user-input:invalid{
    animation: shake .4s;
}
.bg-container h1{
    text-align: center;
}
.row div:nth-child(odd){
    height: 50px;
    width: 50px;
    background-color: black;
    margin: 2px;
    border: 1px solid black;
}
.row div:nth-child(even){
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 2px;
    border: 1px solid black;
}
.even div:nth-child(even){
    height: 50px;
    width: 50px;
    background-color: black;
    margin: 2px;
    border: 1px solid black;
}
.even div:nth-child(odd){
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 2px;
    border: 1px solid black;
}
.row {
    display: flex;
}
.even{
    display: flex;
}
.chess-board{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.border{
    border: 5px double black;
    box-shadow: 1px 1px 6px 5px grey;
}
.row div:hover {
    transform: scale(1.2);
}
.even div:hover {
    transform: scale(1.2);
}



@keyframes shake {
    25%{
        transform: translateX(8px);
    }
    50%{
        transform: translateX(-8px);
    }
    75%{
        transform: translateX(8px);
    }
}
.values{
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    padding-left: 25px;
    padding-right:25px;
    margin:5px;
}
.numbers{
    display: flex;
    font-size: 25px;
    flex-direction: column;
    margin:10px;
    justify-content: space-around;
    

    
}
.container2{
    display: flex;

}
